In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [2]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       6.686620     True          18          1             43.0
1       9.360828     True          32          1             41.0
2       8.437091    False          30          1             39.0
3       6.124442    False          24          1             40.0
4       7.125340    False          26          1             41.0

In [3]:
df.describe()

       weight_pounds    mother_age     plurality  gestation_weeks
count    9989.000000  10000.000000  10000.000000      9890.000000
mean        7.297602     27.298900      1.034400        38.699798
std         1.291685      6.165838      0.192926         2.539957
min         0.612885     12.000000      1.000000        17.000000
25%         6.624891     22.000000      1.000000        38.000000
50%         7.374463     27.000000      1.000000        39.000000
75%         8.124034     32.000000      1.000000        40.000000
max        12.257702     50.000000      3.000000        47.000000

In [4]:
df['is_male'].value_counts()

True     5150
False    4850
Name: is_male, dtype: int64

In [5]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [6]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)

In [7]:
data.head()

      is_male  mother_age  plurality  gestation_weeks
39          1          32          1             41.0
6132        0          28          1             30.0
5986        0          44          1             38.0
7682        0          34          1             38.0
4910        1          31          1             40.0

In [8]:
data.head()

      is_male  mother_age  plurality  gestation_weeks
39          1          32          1             41.0
6132        0          28          1             30.0
5986        0          44          1             38.0
7682        0          34          1             38.0
4910        1          31          1             40.0

In [11]:
x,y = data,labels
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [12]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(len(x_train.iloc[0]),)),
    Dense(32, activation='relu'),
    Dense(1)]
)

In [13]:
model.compile(optimizer=tf.keras.optimizers.RMSprop(),
              loss=tf.keras.losses.MeanSquaredError(),
              metrics=['mae', 'mse'])

In [14]:
model.fit(x_train, y_train, epochs=10, validation_split=0.1)

Epoch 1/10
209/209 [==============================] - 1s 4ms/step - loss: 6.0578 - mae: 1.3642 - mse: 6.0578 - val_loss: 2.1767 - val_mae: 1.1770 - val_mse: 2.1767
Epoch 2/10
209/209 [==============================] - 1s 5ms/step - loss: 1.3164 - mae: 0.8961 - mse: 1.3164 - val_loss: 1.3539 - val_mae: 0.9092 - val_mse: 1.3539
Epoch 3/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2951 - mae: 0.8920 - mse: 1.2951 - val_loss: 1.3331 - val_mae: 0.9062 - val_mse: 1.3331
Epoch 4/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2763 - mae: 0.8829 - mse: 1.2763 - val_loss: 1.3634 - val_mae: 0.9206 - val_mse: 1.3634
Epoch 5/10
209/209 [==============================] - 1s 4ms/step - loss: 1.2665 - mae: 0.8791 - mse: 1.2665 - val_loss: 1.4106 - val_mae: 0.9373 - val_mse: 1.4106
Epoch 6/10
209/209 [==============================] - 1s 4ms/step - loss: 1.2451 - mae: 0.8723 - mse: 1.2451 - val_loss: 1.4335 - val_mae: 0.9443 - val_mse: 1.4335
Epoch 7/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2245 - mae: 0.8660 - mse: 1.2245 - val_loss: 1.3218 - val_mae: 0.8994 - val_mse: 1.3218
Epoch 8/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2219 - mae: 0.8641 - mse: 1.2219 - val_loss: 1.3535 - val_mae: 0.9180 - val_mse: 1.3535
Epoch 9/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2169 - mae: 0.8650 - mse: 1.2169 - val_loss: 1.2695 - val_mae: 0.8845 - val_mse: 1.2695
Epoch 10/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2035 - mae: 0.8577 - mse: 1.2035 - val_loss: 1.4188 - val_mae: 0.9310 - val_mse: 1.4188

In [15]:
num_examples = 10
predictions = model.predict(x_test[:num_examples])

In [16]:
for i in range(num_examples):
    print('Predicted val: ', predictions[i][0])
    print('Actual val: ',y_test.iloc[i])
    print()

Predicted val:  8.111095
Actual val:  6.40001946586

Predicted val:  6.900268
Actual val:  8.000575487979999

Predicted val:  7.206212
Actual val:  6.8122838958

Predicted val:  6.615671
Actual val:  6.75055446244

Predicted val:  6.7833786
Actual val:  6.3603362587

Predicted val:  7.4079294
Actual val:  6.686620406459999

Predicted val:  6.951086
Actual val:  7.0768386102

Predicted val:  7.3706703
Actual val:  7.0327461578

Predicted val:  6.9473104
Actual val:  6.0627122049999995

Predicted val:  6.3201437
Actual val:  7.06361087448

In [17]:
data.head()

      is_male  mother_age  plurality  gestation_weeks
39          1          32          1             41.0
6132        0          28          1             30.0
5986        0          44          1             38.0
7682        0          34          1             38.0
4910        1          31          1             40.0